/*.table-wrapp{
	width:50%;
	margin:0 auto;
}

.main-table{
	text-align: center;
	width:100%;
	border: 1px solid #EEE;
}
.main-table th{
	text-align: center;
}

.main-table tr{
	border-bottom: 1px solid #EEE;
	padding: 10px;
}*/